.card{
    width: 100%;
    min-width: 450px;
    max-width: 450px;
}

.collapsed,
.collapsed:active{
     display: flex;
     height: 8vh;
     flex-direction: column;
     justify-content: center;
     color: #449ACE;
}